@{
    ViewData["Title"] = "Index";
}
@model List<GetCategoryVM>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Kategori Listesi</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered mt-3 p-2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kategori Adı</th>
                        <th>Eklenme Tarihi</th>
                        <th>Güncellenme Tarihi</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td>@category.CreatedDate</td>
                            @if (category.UpdatedDate is not null)
                            {
                                <td>@category.UpdatedDate</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                            <td>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="UpdateCategory" asp-route-id="@category.Id" class="btn btn-outline-primary">Güncelle</a>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@category.Id">
                                    Sil
                                </button>

                                <div class="modal fade" id="exampleModal-@category.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Silme Uyarısı</h5>
                                            </div>
                                            <div class="modal-body">
                                                Silmek istediğinize emin misiniz?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">İptal</button>
                                                <a asp-area="Admin" asp-controller="Categories" asp-action="DeleteCategory" asp-route-id="@category.Id" class="btn btn-outline-danger">Sil</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-outline-info d-block" asp-area="Admin" asp-controller="Categories" asp-action="AddCategory">Yeni Kategori Ekle</a>
        </div>
    </div>
</div>